controller_modules/nodered/data/.flows.json.backup
[
    {
        "id": "03a81b1a548b2458",
        "type": "tab",
        "label": "Field Control Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "53990f839c1cf5ed",
        "type": "tab",
        "label": "Ref Page",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ea0124433f9b92b1",
        "type": "tab",
        "label": "Building Controls",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "03369aabd249c7c8",
        "type": "tab",
        "label": "Download",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a52d199521293c21",
        "type": "ui_tab",
        "name": "Field Operations",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "34fc0637635fff00",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#831100",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#831100",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#831100",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#cf1b00",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#831100",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "366e589a14f99cf0",
        "type": "ui_group",
        "name": "Match Controls",
        "tab": "a52d199521293c21",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "329b865365aa8a43",
        "type": "ui_group",
        "name": "Hotspot",
        "tab": "a52d199521293c21",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a77a26bef88c80e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1c5402c5f698e604",
        "type": "ui_group",
        "name": "Scoring",
        "tab": "a52d199521293c21",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e1a07cb3602771da",
        "type": "ui_tab",
        "name": "Ref Toggles",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f944e199cc48d4f0",
        "type": "ui_group",
        "name": "Phase I",
        "tab": "e1a07cb3602771da",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "71f2708261e35ed8",
        "type": "ui_group",
        "name": "Phase II",
        "tab": "e1a07cb3602771da",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "591219e8a1be384d",
        "type": "ui_group",
        "name": "Phase III",
        "tab": "e1a07cb3602771da",
        "order": 4,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a748fe373609874",
        "type": "ui_spacer",
        "z": "53990f839c1cf5ed",
        "name": "spacer",
        "group": "f944e199cc48d4f0",
        "order": 3,
        "width": 10,
        "height": 1
    },
    {
        "id": "0d17e1a7f54b426e",
        "type": "ui_spacer",
        "z": "53990f839c1cf5ed",
        "name": "spacer",
        "group": "f944e199cc48d4f0",
        "order": 6,
        "width": 10,
        "height": 1
    },
    {
        "id": "32ac2f18b9c68ad1",
        "type": "ui_spacer",
        "z": "53990f839c1cf5ed",
        "name": "spacer",
        "group": "f944e199cc48d4f0",
        "order": 13,
        "width": "10",
        "height": "1"
    },
    {
        "id": "e317c7076c4581a3",
        "type": "ui_spacer",
        "z": "53990f839c1cf5ed",
        "name": "spacer",
        "group": "71f2708261e35ed8",
        "order": 2,
        "width": "10",
        "height": "1"
    },
    {
        "id": "5077511d5745072b",
        "type": "ui_spacer",
        "z": "53990f839c1cf5ed",
        "name": "spacer",
        "group": "71f2708261e35ed8",
        "order": 6,
        "width": "10",
        "height": "1"
    },
    {
        "id": "dbb8758ef2c04582",
        "type": "ui_spacer",
        "z": "53990f839c1cf5ed",
        "name": "spacer",
        "group": "71f2708261e35ed8",
        "order": 11,
        "width": "10",
        "height": "1"
    },
    {
        "id": "d474436ed6a88d1f",
        "type": "ui_spacer",
        "z": "53990f839c1cf5ed",
        "name": "spacer",
        "group": "71f2708261e35ed8",
        "order": 8,
        "width": "10",
        "height": "1"
    },
    {
        "id": "1cd8dff592c91210",
        "type": "ui_tab",
        "name": "Building Controls",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e3c7fb2f0f485333",
        "type": "ui_group",
        "name": "Building Controls",
        "tab": "1cd8dff592c91210",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e218dae9a2ce1b9",
        "type": "ui_tab",
        "name": "Download",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c01041292c9d033f",
        "type": "ui_group",
        "name": "Download",
        "tab": "1e218dae9a2ce1b9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ae8bb4f341a88cf",
        "type": "ui_group",
        "name": "Score",
        "tab": "e1a07cb3602771da",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48faa7beaea8352b",
        "type": "ui_button",
        "z": "03a81b1a548b2458",
        "name": "",
        "group": "366e589a14f99cf0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "New Match",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"event_type\":\"new_match_event\"}",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "ce178390c4ef29c4"
            ]
        ]
    },
    {
        "id": "ee60c707c87aa2e1",
        "type": "ui_button",
        "z": "03a81b1a548b2458",
        "name": "",
        "group": "329b865365aa8a43",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Randomize Hot Spot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"event_type\":\"randomize_hotspot_event\"}",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "ce178390c4ef29c4"
            ]
        ]
    },
    {
        "id": "cce2b7865ca40f34",
        "type": "ui_text",
        "z": "03a81b1a548b2458",
        "group": "329b865365aa8a43",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hotspot",
        "format": "{{msg.payload[\"building\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 880,
        "wires": []
    },
    {
        "id": "d416e9e19279bda8",
        "type": "ui_button",
        "z": "03a81b1a548b2458",
        "name": "",
        "group": "329b865365aa8a43",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Match Pre-Heat",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"event_type\":\"start_preheat_event\"}",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "ce178390c4ef29c4"
            ]
        ]
    },
    {
        "id": "62130e8067c67491",
        "type": "ui_gauge",
        "z": "03a81b1a548b2458",
        "name": "",
        "group": "329b865365aa8a43",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Pre-Heat Countdown",
        "label": "units",
        "format": "{{msg.payload[\"time\"]}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00fa00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c0d955d38cabc16c",
        "type": "ui_text",
        "z": "03a81b1a548b2458",
        "group": "366e589a14f99cf0",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Game State",
        "format": "{{msg.payload[\"state\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 640,
        "wires": []
    },
    {
        "id": "bfdbbec7d0220415",
        "type": "ui_button",
        "z": "03a81b1a548b2458",
        "name": "",
        "group": "366e589a14f99cf0",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Reset Match",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"event_type\":\"reset_match_event\"}",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "ce178390c4ef29c4"
            ]
        ]
    },
    {
        "id": "d656eccbd03f1af0",
        "type": "ui_text",
        "z": "03a81b1a548b2458",
        "group": "366e589a14f99cf0",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Score",
        "format": "{{msg.payload[\"current_score\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 700,
        "wires": []
    },
    {
        "id": "62b60fba406e3ef4",
        "type": "ui_button",
        "z": "03a81b1a548b2458",
        "name": "",
        "group": "366e589a14f99cf0",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Start Match",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"event_type\":\"match_start_event\"}",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "ce178390c4ef29c4"
            ]
        ]
    },
    {
        "id": "8c20d029cd4569d7",
        "type": "mqtt in",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/state/match_state",
        "qos": "2",
        "datatype": "json",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 640,
        "wires": [
            [
                "c0d955d38cabc16c"
            ]
        ]
    },
    {
        "id": "b6d57efffec2a2cb",
        "type": "mqtt in",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/state/score",
        "qos": "2",
        "datatype": "json",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 700,
        "wires": [
            [
                "d656eccbd03f1af0"
            ]
        ]
    },
    {
        "id": "ce178390c4ef29c4",
        "type": "mqtt out",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/events/",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7a77a26bef88c80e",
        "x": 900,
        "y": 320,
        "wires": []
    },
    {
        "id": "54a985943320d4d7",
        "type": "mqtt in",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/state/hotspot_building",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 880,
        "wires": [
            [
                "cce2b7865ca40f34"
            ]
        ]
    },
    {
        "id": "8842a8f7b3c53528",
        "type": "mqtt in",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/state/heater_countdown",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1000,
        "wires": [
            [
                "62130e8067c67491"
            ]
        ]
    },
    {
        "id": "be8b1e83ef25e8cc",
        "type": "ui_button",
        "z": "03a81b1a548b2458",
        "name": "",
        "group": "366e589a14f99cf0",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "End Match",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"event_type\":\"match_end_event\"}",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "ce178390c4ef29c4"
            ]
        ]
    },
    {
        "id": "72992788d1823c56",
        "type": "ui_table",
        "z": "03a81b1a548b2458",
        "group": "1c5402c5f698e604",
        "name": "",
        "order": 0,
        "width": "8",
        "height": "5",
        "columns": [
            {
                "field": "building",
                "title": " Building",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "state",
                "title": "State",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fire_level",
                "title": "Fire Level",
                "width": "",
                "align": "center",
                "formatter": "progress",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "score",
                "title": "Score",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 570,
        "y": 1080,
        "wires": []
    },
    {
        "id": "f9a48545fbd2c144",
        "type": "mqtt in",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/state/table_data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 1080,
        "wires": [
            [
                "72992788d1823c56"
            ]
        ]
    },
    {
        "id": "826cf2e26bd62be8",
        "type": "ui_text",
        "z": "03a81b1a548b2458",
        "group": "366e589a14f99cf0",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phase Remaining",
        "format": "{{msg.payload[\"time\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 760,
        "wires": []
    },
    {
        "id": "8a6a9bf9316c1a57",
        "type": "mqtt in",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/state/phase_remaining",
        "qos": "2",
        "datatype": "json",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 760,
        "wires": [
            [
                "826cf2e26bd62be8"
            ]
        ]
    },
    {
        "id": "d7c8134606ed5f57",
        "type": "ui_text",
        "z": "03a81b1a548b2458",
        "group": "366e589a14f99cf0",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Match Remaining",
        "format": "{{msg.payload[\"time\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 820,
        "wires": []
    },
    {
        "id": "8c5385b22e54b6ce",
        "type": "mqtt in",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/state/match_remaining",
        "qos": "2",
        "datatype": "json",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 820,
        "wires": [
            [
                "d7c8134606ed5f57"
            ]
        ]
    },
    {
        "id": "ab7a79fabac1c028",
        "type": "ui_text_input",
        "z": "03a81b1a548b2458",
        "name": "",
        "label": "Match ID",
        "tooltip": "",
        "group": "366e589a14f99cf0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "500",
        "topic": "payload",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 520,
        "y": 480,
        "wires": [
            [
                "40d9d1b156c1c5d3"
            ]
        ]
    },
    {
        "id": "c8cbfe72d74ed1f7",
        "type": "mqtt in",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/state/match_id",
        "qos": "2",
        "datatype": "json",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 520,
        "wires": [
            [
                "8f72873b24693183"
            ]
        ]
    },
    {
        "id": "40d9d1b156c1c5d3",
        "type": "template",
        "z": "03a81b1a548b2458",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"match_id\",\n        \"payload\":\"{{payload}}\"\n    }\n}",
        "output": "str",
        "x": 700,
        "y": 440,
        "wires": [
            [
                "ce178390c4ef29c4"
            ]
        ]
    },
    {
        "id": "8f72873b24693183",
        "type": "function",
        "z": "03a81b1a548b2458",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 520,
        "wires": [
            [
                "ab7a79fabac1c028"
            ]
        ]
    },
    {
        "id": "0193c7152e974fac",
        "type": "ui_button",
        "z": "03a81b1a548b2458",
        "name": "",
        "group": "329b865365aa8a43",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Randomize Safe Zone",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"event_type\":\"randomize_safezone_event\"}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "ce178390c4ef29c4"
            ]
        ]
    },
    {
        "id": "f0a2303ec1ac019f",
        "type": "mqtt in",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/state/safezone",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 940,
        "wires": [
            [
                "1c2067149d080c59"
            ]
        ]
    },
    {
        "id": "1c2067149d080c59",
        "type": "ui_text",
        "z": "03a81b1a548b2458",
        "group": "329b865365aa8a43",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Safezone",
        "format": "{{msg.payload[\"zone\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 940,
        "wires": []
    },
    {
        "id": "7b3c4815a9189b6f",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "AVR Drone Parked in Time",
        "tooltip": "",
        "group": "591219e8a1be384d",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 880,
        "y": 1960,
        "wires": [
            [
                "6f2a528b3d689d22"
            ]
        ]
    },
    {
        "id": "4bb94d226752a132",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Tello Parked in Time",
        "tooltip": "",
        "group": "591219e8a1be384d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 860,
        "y": 1920,
        "wires": [
            [
                "66ea65e0b703cea9"
            ]
        ]
    },
    {
        "id": "901662141c3392d5",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "RVR Parked in Time",
        "tooltip": "",
        "group": "591219e8a1be384d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 860,
        "y": 1840,
        "wires": [
            [
                "34f61c24ae0b4b9d"
            ]
        ]
    },
    {
        "id": "e6b2d14b923fc468",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "RVR Completed Path",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 860,
        "y": 140,
        "wires": [
            [
                "971e58405a8611fa"
            ]
        ]
    },
    {
        "id": "0f181af477fd7520",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "RVR Autonomous",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 850,
        "y": 200,
        "wires": [
            [
                "05ea15387ad314ee"
            ]
        ]
    },
    {
        "id": "f60b936187eae4ef",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Sphero Recon Manual",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "payload",
        "topicType": "msg",
        "min": 0,
        "max": "3",
        "step": 1,
        "className": "",
        "x": 860,
        "y": 40,
        "wires": [
            [
                "93c7abfb7d8da235"
            ]
        ]
    },
    {
        "id": "d751e1664722954c",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Sphero Recon Autonomous",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "3",
        "step": 1,
        "className": "",
        "x": 880,
        "y": 80,
        "wires": [
            [
                "0007517303a489bd"
            ]
        ]
    },
    {
        "id": "330cd0e4af79eab0",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Tello Completed Path",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 860,
        "y": 280,
        "wires": [
            [
                "6dc328d2223e77eb"
            ]
        ]
    },
    {
        "id": "c9f53e34408bc89b",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Tello Autonomous",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 850,
        "y": 580,
        "wires": [
            [
                "83d3d8e2431001af"
            ]
        ]
    },
    {
        "id": "d6141cb57be06834",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "AVR Drone Takeoff And Recon",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 720,
        "wires": [
            [
                "6c903173d2013dda"
            ]
        ]
    },
    {
        "id": "bb34cd2bbc53784c",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "AVR Drone AprilTag Recognition",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 760,
        "wires": [
            [
                "70fad5d40b8d27a7"
            ]
        ]
    },
    {
        "id": "c5e7905f64148979",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "AVR Drone Landing",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 850,
        "y": 800,
        "wires": [
            [
                "a32253f709b462f9"
            ]
        ]
    },
    {
        "id": "f44393a9d2bc5b91",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "AVR Drone Autonomous",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 870,
        "y": 840,
        "wires": [
            [
                "4263932506c67000"
            ]
        ]
    },
    {
        "id": "4a3a399b84186ac9",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "First Responders Loaded",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "3",
        "step": 1,
        "className": "",
        "x": 870,
        "y": 1040,
        "wires": [
            [
                "0777de5b9bbdce60"
            ]
        ]
    },
    {
        "id": "ebbedc47e8be04a0",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Hotspot Bldg IDed & First Responder Dropped Off",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 950,
        "y": 1080,
        "wires": [
            [
                "99aef6f8b8fbbcad"
            ]
        ]
    },
    {
        "id": "15dd4d8be50d8ca6",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "First Responders Unloaded on Residential Bldgs",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "2",
        "step": 1,
        "className": "",
        "x": 950,
        "y": 1200,
        "wires": [
            [
                "4cd4c951782688cf"
            ]
        ]
    },
    {
        "id": "116cc2b436b15c4e",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Stranded Launched From Fire Escape",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "6",
        "step": 1,
        "className": "",
        "x": 910,
        "y": 1240,
        "wires": [
            [
                "bc838bc1476392f9"
            ]
        ]
    },
    {
        "id": "61c7e5d92d1f19d2",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Stranded Landed in RVR",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "6",
        "step": 1,
        "className": "",
        "x": 870,
        "y": 1280,
        "wires": [
            [
                "11c18a7a5cd834d5"
            ]
        ]
    },
    {
        "id": "9087fb414813a9e7",
        "type": "mqtt out",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/events/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7a77a26bef88c80e",
        "x": 1960,
        "y": 940,
        "wires": []
    },
    {
        "id": "9fb234ecaaafb0ed",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "First Responders Delivered to Ground",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "3",
        "step": 1,
        "className": "",
        "x": 910,
        "y": 1320,
        "wires": [
            [
                "6b1bb911a9f6846f"
            ]
        ]
    },
    {
        "id": "0ee8d75a3c818401",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Stranded Delivered to a Safe Zone by RVR",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "6",
        "step": 1,
        "className": "",
        "x": 930,
        "y": 1400,
        "wires": [
            [
                "6b8358c984a00c10"
            ]
        ]
    },
    {
        "id": "ec40bd9e05e530ee",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Stranded Unloaded Hands Free",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 1540,
        "wires": [
            [
                "a15c6ac8960a06e1"
            ]
        ]
    },
    {
        "id": "a6e5945fd6c24c9b",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "d": true,
        "name": "",
        "label": "Water Balls Dropped via AprilTag",
        "tooltip": "",
        "group": "591219e8a1be384d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 900,
        "y": 1700,
        "wires": [
            [
                "f88e5556a1ee2b1b"
            ]
        ]
    },
    {
        "id": "fd489c8a49102476",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "First Respnders Parked in Time",
        "tooltip": "",
        "group": "591219e8a1be384d",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "3",
        "step": 1,
        "className": "",
        "x": 890,
        "y": 1880,
        "wires": [
            [
                "456c80a3c9dc2776"
            ]
        ]
    },
    {
        "id": "049a63b78174c3b3",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Tello Identified Safe Zone",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 870,
        "y": 1440,
        "wires": [
            [
                "68827abcc4a72859"
            ]
        ]
    },
    {
        "id": "7790b9d34cb6195b",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Smoke Jumper Launched",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 870,
        "y": 420,
        "wires": [
            [
                "750c5f9470e62386"
            ]
        ]
    },
    {
        "id": "598806b21476c8f3",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Smoke Jumper Parachute Deployed",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 460,
        "wires": [
            [
                "31dae9a38bf4c3f9"
            ]
        ]
    },
    {
        "id": "0b15c0051faa29b0",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Smoke Jumper Landed On/ Touched House",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 930,
        "y": 500,
        "wires": [
            [
                "7a44b9718a95782a"
            ]
        ]
    },
    {
        "id": "609d3f5a1d5f38f2",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Smoke Jumper Landed Inside House",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 540,
        "wires": [
            [
                "052e3ea6cfe1a4f5"
            ]
        ]
    },
    {
        "id": "93c7abfb7d8da235",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"sphero_recon\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 40,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "0007517303a489bd",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"sphero_recon_autonomous\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 80,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "971e58405a8611fa",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"rvr_recon\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 140,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "05ea15387ad314ee",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"rvr_recon_autonomous\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 200,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "6dc328d2223e77eb",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"tello_recon\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 280,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "83d3d8e2431001af",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"tello_recon_autonomous\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 580,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "750c5f9470e62386",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"smoke_jumper_launch\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 420,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "31dae9a38bf4c3f9",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"smoke_jumper_parachute\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 460,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "7a44b9718a95782a",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"smoke_jumper_landed_on_touch\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 500,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "052e3ea6cfe1a4f5",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"smoke_jumper_landed_in\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 540,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "6c903173d2013dda",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"avr_takeoff_recon\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 720,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "70fad5d40b8d27a7",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"avr_apriltag\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 760,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "a32253f709b462f9",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"avr_landing\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 800,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "4263932506c67000",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"avr_autonomous\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 840,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "0777de5b9bbdce60",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"first_responders_loaded\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 1040,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "99aef6f8b8fbbcad",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"avr_ided_hotspot_and_dropped_fr\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 1080,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "4cd4c951782688cf",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"first_responders_unloaded\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 1200,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "bc838bc1476392f9",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"stranded_launched_from_fire_escape\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 1240,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "11c18a7a5cd834d5",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"stranded_in_rvr\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 1280,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "6b1bb911a9f6846f",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"avr_delivered_first_responders\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 1320,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "6b8358c984a00c10",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"stranded_delivered_to_safe_zone\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 1400,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "68827abcc4a72859",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"tello_identified_safe_zone\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 1440,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "a15c6ac8960a06e1",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"rvr_handsfree_unloaded\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 1540,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "f88e5556a1ee2b1b",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"avr_water_drop_autonomous\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 1680,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "34f61c24ae0b4b9d",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"rvr_parked\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 1840,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "456c80a3c9dc2776",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"first_responders_parked\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 1880,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "66ea65e0b703cea9",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"tello_parked\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 1920,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "6f2a528b3d689d22",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"avr_parked\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 1960,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "28a13c812594860b",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/sphero_recon",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "f76b018c39bc8b0a"
            ]
        ]
    },
    {
        "id": "2a38eb683f3f5cd8",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/sphero_recon_autonomous",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 80,
        "wires": [
            [
                "c8091d53e36b5545"
            ]
        ]
    },
    {
        "id": "7e6394949fce3252",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/rvr_recon",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 140,
        "wires": [
            [
                "4ec7d6fb92eadda8"
            ]
        ]
    },
    {
        "id": "fa671f2eb65788f1",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/rvr_recon_autonomous",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "bbf9f108eb8b027c"
            ]
        ]
    },
    {
        "id": "99eb90c260149779",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/tello_recon",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "642874fc83da91a1"
            ]
        ]
    },
    {
        "id": "a9b39e9bf60c91dd",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/tello_recon_autonomous",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 580,
        "wires": [
            [
                "ce0464832c16e68e"
            ]
        ]
    },
    {
        "id": "ac462f355f22dccb",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/smoke_jumper_launch",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "7e1fadd18b8600da"
            ]
        ]
    },
    {
        "id": "01058ed84681d9b9",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/smoke_jumper_parachute",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 460,
        "wires": [
            [
                "669f174fd5d49566"
            ]
        ]
    },
    {
        "id": "cd844ea9f2190bcb",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/smoke_jumper_landed_on_touch",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 500,
        "wires": [
            [
                "2a991fc52638d487"
            ]
        ]
    },
    {
        "id": "f74d482c4cd14815",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/smoke_jumper_landed_in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 540,
        "wires": [
            [
                "35988e5cf3681309"
            ]
        ]
    },
    {
        "id": "7627ae9de0cdc69c",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/avr_takeoff_recon",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 720,
        "wires": [
            [
                "3f47a1a70b8887f6"
            ]
        ]
    },
    {
        "id": "079ec9e643f2e164",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/avr_apriltag",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 760,
        "wires": [
            [
                "6e3b73d73f7589ce"
            ]
        ]
    },
    {
        "id": "0bc53e0e1dbc6bcf",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/avr_landing",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 800,
        "wires": [
            [
                "3b3b9af91794f79d"
            ]
        ]
    },
    {
        "id": "93284ab021fbf099",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/avr_autonomous",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 840,
        "wires": [
            [
                "fb372e9da6cc1ee5"
            ]
        ]
    },
    {
        "id": "678c87c1d6c0d1d0",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/first_responders_loaded",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "45645cd6f28186cb"
            ]
        ]
    },
    {
        "id": "af08bb3f5c446b09",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/avr_ided_hotspot_and_dropped_fr",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1080,
        "wires": [
            [
                "6615fa7b55840acf"
            ]
        ]
    },
    {
        "id": "2350964cd8e45d5e",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/first_responders_unloaded",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1200,
        "wires": [
            [
                "ec44e0e01a771a17"
            ]
        ]
    },
    {
        "id": "ddc719b4c22e6309",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/stranded_launched_from_fire_escape",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1240,
        "wires": [
            [
                "05ef480e69e913a2"
            ]
        ]
    },
    {
        "id": "c1d2b73ba182ec6f",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/stranded_in_rvr",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1280,
        "wires": [
            [
                "06cac31f0fda48da"
            ]
        ]
    },
    {
        "id": "5bab909f7f24bb4f",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/avr_delivered_first_responders",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1320,
        "wires": [
            [
                "74f9274f3e1ff71a"
            ]
        ]
    },
    {
        "id": "99f11830c565cc6d",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/rvr_handsfree_unloaded",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1540,
        "wires": [
            [
                "05ba0748e0c73607"
            ]
        ]
    },
    {
        "id": "356e376706825c04",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/avr_water_drop_autonomous",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1700,
        "wires": [
            [
                "db66d4b48731d4d2"
            ]
        ]
    },
    {
        "id": "49e9a2a3c4989e41",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/rvr_parked",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1840,
        "wires": [
            [
                "0d7084c19bec504f"
            ]
        ]
    },
    {
        "id": "0eaea1dbbe4c9efe",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/first_responders_parked",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1880,
        "wires": [
            [
                "8cb65b6a9ecc5e67"
            ]
        ]
    },
    {
        "id": "6c43a294e9611277",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/tello_parked",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1920,
        "wires": [
            [
                "5ea21f7218d5b79d"
            ]
        ]
    },
    {
        "id": "1061d7005bcc4e83",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/avr_parked",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1960,
        "wires": [
            [
                "aca64ce4971c2f42"
            ]
        ]
    },
    {
        "id": "f21e9b99c723f718",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/stranded_delivered_to_safe_zone",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1400,
        "wires": [
            [
                "bc7789bf4e5f411b"
            ]
        ]
    },
    {
        "id": "49e4e5b54dc7c4d3",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/tello_identified_safe_zone",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1440,
        "wires": [
            [
                "8c914ecac0d65bc4"
            ]
        ]
    },
    {
        "id": "935dda019ef8cd43",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Autonomous LED Flash Over Hotspot",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 1120,
        "wires": [
            [
                "0c10eff5ffc19132"
            ]
        ]
    },
    {
        "id": "0c10eff5ffc19132",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"avr_flashed_led\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 1120,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "d3ceae5250c45ee5",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/avr_flashed_led",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1120,
        "wires": [
            [
                "e0ca292bdef9a10a"
            ]
        ]
    },
    {
        "id": "bbf9f108eb8b027c",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 200,
        "wires": [
            [
                "0f181af477fd7520"
            ]
        ]
    },
    {
        "id": "f76b018c39bc8b0a",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 40,
        "wires": [
            [
                "f60b936187eae4ef"
            ]
        ]
    },
    {
        "id": "c8091d53e36b5545",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 80,
        "wires": [
            [
                "d751e1664722954c"
            ]
        ]
    },
    {
        "id": "4ec7d6fb92eadda8",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 140,
        "wires": [
            [
                "e6b2d14b923fc468"
            ]
        ]
    },
    {
        "id": "642874fc83da91a1",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 280,
        "wires": [
            [
                "330cd0e4af79eab0"
            ]
        ]
    },
    {
        "id": "7e1fadd18b8600da",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 420,
        "wires": [
            [
                "7790b9d34cb6195b"
            ]
        ]
    },
    {
        "id": "669f174fd5d49566",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 460,
        "wires": [
            [
                "598806b21476c8f3"
            ]
        ]
    },
    {
        "id": "2a991fc52638d487",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 500,
        "wires": [
            [
                "0b15c0051faa29b0"
            ]
        ]
    },
    {
        "id": "35988e5cf3681309",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 540,
        "wires": [
            [
                "609d3f5a1d5f38f2"
            ]
        ]
    },
    {
        "id": "ce0464832c16e68e",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 580,
        "wires": [
            [
                "c9f53e34408bc89b"
            ]
        ]
    },
    {
        "id": "3f47a1a70b8887f6",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 720,
        "wires": [
            [
                "d6141cb57be06834"
            ]
        ]
    },
    {
        "id": "6e3b73d73f7589ce",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 760,
        "wires": [
            [
                "bb34cd2bbc53784c"
            ]
        ]
    },
    {
        "id": "3b3b9af91794f79d",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 800,
        "wires": [
            [
                "c5e7905f64148979"
            ]
        ]
    },
    {
        "id": "fb372e9da6cc1ee5",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 840,
        "wires": [
            [
                "f44393a9d2bc5b91"
            ]
        ]
    },
    {
        "id": "45645cd6f28186cb",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1040,
        "wires": [
            [
                "4a3a399b84186ac9"
            ]
        ]
    },
    {
        "id": "6615fa7b55840acf",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1080,
        "wires": [
            [
                "ebbedc47e8be04a0"
            ]
        ]
    },
    {
        "id": "e0ca292bdef9a10a",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1120,
        "wires": [
            [
                "935dda019ef8cd43"
            ]
        ]
    },
    {
        "id": "ec44e0e01a771a17",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1200,
        "wires": [
            [
                "15dd4d8be50d8ca6"
            ]
        ]
    },
    {
        "id": "05ef480e69e913a2",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1240,
        "wires": [
            [
                "116cc2b436b15c4e"
            ]
        ]
    },
    {
        "id": "06cac31f0fda48da",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1280,
        "wires": [
            [
                "61c7e5d92d1f19d2"
            ]
        ]
    },
    {
        "id": "74f9274f3e1ff71a",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1320,
        "wires": [
            [
                "9fb234ecaaafb0ed"
            ]
        ]
    },
    {
        "id": "bc7789bf4e5f411b",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1400,
        "wires": [
            [
                "0ee8d75a3c818401"
            ]
        ]
    },
    {
        "id": "8c914ecac0d65bc4",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1440,
        "wires": [
            [
                "049a63b78174c3b3"
            ]
        ]
    },
    {
        "id": "05ba0748e0c73607",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1540,
        "wires": [
            [
                "ec40bd9e05e530ee"
            ]
        ]
    },
    {
        "id": "db66d4b48731d4d2",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1700,
        "wires": [
            [
                "a6e5945fd6c24c9b"
            ]
        ]
    },
    {
        "id": "0d7084c19bec504f",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1840,
        "wires": [
            [
                "901662141c3392d5"
            ]
        ]
    },
    {
        "id": "8cb65b6a9ecc5e67",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1880,
        "wires": [
            [
                "fd489c8a49102476"
            ]
        ]
    },
    {
        "id": "5ea21f7218d5b79d",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1920,
        "wires": [
            [
                "4bb94d226752a132"
            ]
        ]
    },
    {
        "id": "aca64ce4971c2f42",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1960,
        "wires": [
            [
                "7b3c4815a9189b6f"
            ]
        ]
    },
    {
        "id": "27efd1cec5f5ad78",
        "type": "ui_text",
        "z": "53990f839c1cf5ed",
        "group": "71f2708261e35ed8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hotspot",
        "format": "{{msg.payload[\"building\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 2140,
        "wires": []
    },
    {
        "id": "3422619eed2f1edb",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/hotspot_building",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 2140,
        "wires": [
            [
                "27efd1cec5f5ad78"
            ]
        ]
    },
    {
        "id": "7102af352d2bc3c9",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/safezone",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 2200,
        "wires": [
            [
                "fde82b7dd3a13e27"
            ]
        ]
    },
    {
        "id": "fde82b7dd3a13e27",
        "type": "ui_text",
        "z": "53990f839c1cf5ed",
        "group": "71f2708261e35ed8",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Safezone",
        "format": "{{msg.payload[\"zone\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 2200,
        "wires": []
    },
    {
        "id": "dcec11333f5f993c",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/phase_i_score",
        "qos": "2",
        "datatype": "json",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 900,
        "wires": [
            [
                "0a9444984b90b93e"
            ]
        ]
    },
    {
        "id": "0a9444984b90b93e",
        "type": "ui_text",
        "z": "53990f839c1cf5ed",
        "group": "f944e199cc48d4f0",
        "order": 18,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Score",
        "format": "{{msg.payload[\"current_score\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 900,
        "wires": []
    },
    {
        "id": "c7b1f0543b8f1665",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/phase_ii_score",
        "qos": "2",
        "datatype": "json",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1580,
        "wires": [
            [
                "854a99a3de4c132a"
            ]
        ]
    },
    {
        "id": "854a99a3de4c132a",
        "type": "ui_text",
        "z": "53990f839c1cf5ed",
        "group": "71f2708261e35ed8",
        "order": 18,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Score",
        "format": "{{msg.payload[\"current_score\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 1580,
        "wires": []
    },
    {
        "id": "3e1bad249f36258c",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/phase_iii_score",
        "qos": "2",
        "datatype": "json",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1800,
        "wires": [
            [
                "7099ed9713b50624"
            ]
        ]
    },
    {
        "id": "7099ed9713b50624",
        "type": "ui_text",
        "z": "53990f839c1cf5ed",
        "group": "591219e8a1be384d",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Score",
        "format": "{{msg.payload[\"current_score\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 1800,
        "wires": []
    },
    {
        "id": "8c166a7584c3a95e",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/phase_i_score",
        "qos": "2",
        "datatype": "json",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 2260,
        "wires": [
            [
                "2b30ce3e70c65b64"
            ]
        ]
    },
    {
        "id": "2b30ce3e70c65b64",
        "type": "ui_text",
        "z": "53990f839c1cf5ed",
        "group": "5ae8bb4f341a88cf",
        "order": 18,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phase I Score .......... ",
        "format": "{{msg.payload[\"current_score\"]}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#f5ec00",
        "x": 520,
        "y": 2260,
        "wires": []
    },
    {
        "id": "9040475323fba70e",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/phase_ii_score",
        "qos": "2",
        "datatype": "json",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 2300,
        "wires": [
            [
                "41c32bbb04f13468"
            ]
        ]
    },
    {
        "id": "41c32bbb04f13468",
        "type": "ui_text",
        "z": "53990f839c1cf5ed",
        "group": "5ae8bb4f341a88cf",
        "order": 18,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phase II Score .......... ",
        "format": "{{msg.payload[\"current_score\"]}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#f5ec00",
        "x": 520,
        "y": 2300,
        "wires": []
    },
    {
        "id": "0c6074c41bd9385a",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/phase_iii_score",
        "qos": "2",
        "datatype": "json",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 2340,
        "wires": [
            [
                "0676d957d4a2a7fe"
            ]
        ]
    },
    {
        "id": "0676d957d4a2a7fe",
        "type": "ui_text",
        "z": "53990f839c1cf5ed",
        "group": "5ae8bb4f341a88cf",
        "order": 18,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phase III Score ........ ",
        "format": "{{msg.payload[\"current_score\"]}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#f5ec00",
        "x": 520,
        "y": 2340,
        "wires": []
    },
    {
        "id": "f1fec2c65fab6043",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/score",
        "qos": "2",
        "datatype": "json",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 2380,
        "wires": [
            [
                "b9080a3f90335e7b"
            ]
        ]
    },
    {
        "id": "b9080a3f90335e7b",
        "type": "ui_text",
        "z": "53990f839c1cf5ed",
        "group": "5ae8bb4f341a88cf",
        "order": 18,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Cumulative Score",
        "format": "{{msg.payload[\"current_score\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#00f900",
        "x": 510,
        "y": 2380,
        "wires": []
    },
    {
        "id": "f96f61aa59d4f7e1",
        "type": "mqtt in",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "ui/state/buildings_autonomously_cleared",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1740,
        "wires": [
            [
                "37519f1bd0bce855"
            ]
        ]
    },
    {
        "id": "37519f1bd0bce855",
        "type": "function",
        "z": "53990f839c1cf5ed",
        "name": "mqtt_parser",
        "func": "return {payload: msg.payload.data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1740,
        "wires": [
            [
                "3ff0e63ecfc90cad"
            ]
        ]
    },
    {
        "id": "3ff0e63ecfc90cad",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Buildings Autonomously Cleared",
        "tooltip": "",
        "group": "591219e8a1be384d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "9",
        "step": 1,
        "className": "",
        "x": 900,
        "y": 1740,
        "wires": [
            [
                "3257ed19b0d968fe"
            ]
        ]
    },
    {
        "id": "3257ed19b0d968fe",
        "type": "template",
        "z": "53990f839c1cf5ed",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"event_type\":\"ui_toggle\",\n    \"data\": {\n        \"toggle\": \"buildings_autonomously_cleared\",\n        \"payload\":{{payload}}\n    }\n}",
        "output": "str",
        "x": 1280,
        "y": 1740,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "8ec637db3f5d4ede",
        "type": "ui_button",
        "z": "ea0124433f9b92b1",
        "name": "",
        "group": "e3c7fb2f0f485333",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "1 - Laser Hit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "29d9d87bca5d59b9"
            ]
        ]
    },
    {
        "id": "e1bea56f0bc532de",
        "type": "ui_button",
        "z": "ea0124433f9b92b1",
        "name": "",
        "group": "e3c7fb2f0f485333",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "2 - Ball Hit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "1fbacb80ae7e733f"
            ]
        ]
    },
    {
        "id": "6c5cb1e733d7aa6d",
        "type": "mqtt out",
        "z": "ea0124433f9b92b1",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7a77a26bef88c80e",
        "x": 1050,
        "y": 280,
        "wires": []
    },
    {
        "id": "db1b0eefc7ed675d",
        "type": "ui_button",
        "z": "ea0124433f9b92b1",
        "name": "",
        "group": "e3c7fb2f0f485333",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "3 - Laser Hit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "29d9d87bca5d59b9"
            ]
        ]
    },
    {
        "id": "ae19e80cb294cf23",
        "type": "ui_button",
        "z": "ea0124433f9b92b1",
        "name": "",
        "group": "e3c7fb2f0f485333",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "4 - Laser Hit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "29d9d87bca5d59b9"
            ]
        ]
    },
    {
        "id": "c28a10b779309836",
        "type": "ui_button",
        "z": "ea0124433f9b92b1",
        "name": "",
        "group": "e3c7fb2f0f485333",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "5 - Ball Hit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "5",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "1fbacb80ae7e733f"
            ]
        ]
    },
    {
        "id": "b758e7f5fba42419",
        "type": "ui_button",
        "z": "ea0124433f9b92b1",
        "name": "",
        "group": "e3c7fb2f0f485333",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "6 - Ball Hit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 460,
        "wires": [
            [
                "1fbacb80ae7e733f"
            ]
        ]
    },
    {
        "id": "29d9d87bca5d59b9",
        "type": "change",
        "z": "ea0124433f9b92b1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "msg.payload & \"/events/laser_detector/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"event_type\": \"hit\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 240,
        "wires": [
            [
                "6c5cb1e733d7aa6d"
            ]
        ]
    },
    {
        "id": "1fbacb80ae7e733f",
        "type": "change",
        "z": "ea0124433f9b92b1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "msg.payload & \"/events/ball_detector/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"event_type\": \"hit\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 320,
        "wires": [
            [
                "6c5cb1e733d7aa6d"
            ]
        ]
    },
    {
        "id": "f31a598d.9fd2c8",
        "type": "function",
        "z": "03369aabd249c7c8",
        "name": "Set base path",
        "func": "//restrict to c:\\temp\\\nvar basePath = \"/logs/\";\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} \n//TODO: add more checks\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 140,
        "wires": [
            [
                "34dc99e5.495466"
            ],
            [
                "98261154.3006"
            ]
        ]
    },
    {
        "id": "98261154.3006",
        "type": "http response",
        "z": "03369aabd249c7c8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "34dc99e5.495466",
        "type": "file in",
        "z": "03369aabd249c7c8",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "98261154.3006"
            ]
        ]
    },
    {
        "id": "38d65d59.1d8aa2",
        "type": "catch",
        "z": "03369aabd249c7c8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 220,
        "wires": [
            [
                "3b8014a.86ad8ec",
                "5b18a8e7.fb8da8"
            ]
        ]
    },
    {
        "id": "3b8014a.86ad8ec",
        "type": "function",
        "z": "03369aabd249c7c8",
        "name": "Set 404",
        "func": "msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 220,
        "wires": [
            [
                "98261154.3006"
            ]
        ]
    },
    {
        "id": "5b18a8e7.fb8da8",
        "type": "debug",
        "z": "03369aabd249c7c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 130,
        "y": 260,
        "wires": []
    },
    {
        "id": "5de7cbb4.fa21a4",
        "type": "comment",
        "z": "03369aabd249c7c8",
        "name": "Create http endpoint <nodered>/files/xxx  where xxx is the file name to download",
        "info": "",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "67ecfa7f.3f0e24",
        "type": "http in",
        "z": "03369aabd249c7c8",
        "name": "",
        "url": "/files/:fn",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "f31a598d.9fd2c8"
            ]
        ]
    },
    {
        "id": "5e1f0081.6dc3c",
        "type": "ui_template",
        "z": "03369aabd249c7c8",
        "group": "c01041292c9d033f",
        "name": "window redirect",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data != undefined)\n        {\n            window.open(\"/files/\"+ data +\".json\");\n        }\n        \n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 720,
        "y": 440,
        "wires": [
            [
                "8582289.2d757d8"
            ]
        ]
    },
    {
        "id": "8582289.2d757d8",
        "type": "debug",
        "z": "03369aabd249c7c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 440,
        "wires": []
    },
    {
        "id": "b2d05f8f.b1732",
        "type": "ui_form",
        "z": "03369aabd249c7c8",
        "name": "",
        "label": "",
        "group": "c01041292c9d033f",
        "order": 0,
        "width": "6",
        "height": "3",
        "options": [
            {
                "label": "Round ID",
                "value": "textInput",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "textInput": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "",
        "topic": "form",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 70,
        "y": 440,
        "wires": [
            [
                "9d6e6b78.881d88"
            ]
        ]
    },
    {
        "id": "9d6e6b78.881d88",
        "type": "function",
        "z": "03369aabd249c7c8",
        "name": "Extract Text",
        "func": "msg.payload = msg.payload.textInput;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 440,
        "wires": [
            [
                "5e1f0081.6dc3c"
            ]
        ]
    },
    {
        "id": "e46b3c3887c08af6",
        "type": "watch",
        "z": "03369aabd249c7c8",
        "name": "",
        "files": "/logs/",
        "recursive": "",
        "x": 70,
        "y": 500,
        "wires": [
            [
                "c42696639385d3d6"
            ]
        ]
    },
    {
        "id": "c42696639385d3d6",
        "type": "delay",
        "z": "03369aabd249c7c8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 500,
        "wires": [
            [
                "14ca1c1e783fadf2"
            ]
        ]
    },
    {
        "id": "14ca1c1e783fadf2",
        "type": "function",
        "z": "03369aabd249c7c8",
        "name": "Extract Filename",
        "func": "function extractFileNameAndExtension(filePath) {\n    // Extract filename and extension using regular expression\n    const regex = /^.*[\\\\/]/;\n    const fullPathWithoutPath = filePath.replace(regex, '');\n\n    const lastDotIndex = fullPathWithoutPath.lastIndexOf('.');\n    const fileName = fullPathWithoutPath.substring(0, lastDotIndex);\n    const extension = fullPathWithoutPath.substring(lastDotIndex + 1);\n\n    return {\n        fileName: fileName,\n        extension: extension\n    };\n}\n\nmsg.payload = extractFileNameAndExtension(msg.payload).fileName;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 520,
        "wires": [
            [
                "f1bdadee19d6d1a3"
            ]
        ]
    },
    {
        "id": "f1bdadee19d6d1a3",
        "type": "ui_template",
        "z": "03369aabd249c7c8",
        "group": "366e589a14f99cf0",
        "name": "window redirect",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data != undefined)\n        {\n            window.open(\"/files/\"+ data +\".json\");\n        }\n        \n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 720,
        "y": 520,
        "wires": [
            []
        ]
    }
]