controller_modules/nodered/data/flows.json
[
    {
        "id": "03a81b1a548b2458",
        "type": "tab",
        "label": "Field Control Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "53990f839c1cf5ed",
        "type": "tab",
        "label": "Ref Page",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a52d199521293c21",
        "type": "ui_tab",
        "name": "Field Operations",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "34fc0637635fff00",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#831100",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#831100",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#831100",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#cf1b00",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#831100",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "366e589a14f99cf0",
        "type": "ui_group",
        "name": "Match Controls",
        "tab": "a52d199521293c21",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "329b865365aa8a43",
        "type": "ui_group",
        "name": "Hotspot",
        "tab": "a52d199521293c21",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a77a26bef88c80e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1c5402c5f698e604",
        "type": "ui_group",
        "name": "Scoring",
        "tab": "a52d199521293c21",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e1a07cb3602771da",
        "type": "ui_tab",
        "name": "Ref Toggles",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8b1b820aae8133ac",
        "type": "ui_group",
        "name": "End of Match",
        "tab": "e1a07cb3602771da",
        "order": 4,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f944e199cc48d4f0",
        "type": "ui_group",
        "name": "Phase I",
        "tab": "e1a07cb3602771da",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "33acfd463831b93c",
        "type": "ui_spacer",
        "z": "53990f839c1cf5ed",
        "name": "spacer",
        "group": "f944e199cc48d4f0",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "0f0a7004fe689f56",
        "type": "ui_spacer",
        "z": "53990f839c1cf5ed",
        "name": "spacer",
        "group": "f944e199cc48d4f0",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "91ae1b2d2153bba4",
        "type": "ui_spacer",
        "z": "53990f839c1cf5ed",
        "name": "spacer",
        "group": "f944e199cc48d4f0",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "71f2708261e35ed8",
        "type": "ui_group",
        "name": "Phase II",
        "tab": "e1a07cb3602771da",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "591219e8a1be384d",
        "type": "ui_group",
        "name": "Phase III",
        "tab": "e1a07cb3602771da",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48faa7beaea8352b",
        "type": "ui_button",
        "z": "03a81b1a548b2458",
        "name": "",
        "group": "366e589a14f99cf0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "New Match",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"event_type\":\"new_match_event\"}",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "ce178390c4ef29c4"
            ]
        ]
    },
    {
        "id": "ee60c707c87aa2e1",
        "type": "ui_button",
        "z": "03a81b1a548b2458",
        "name": "",
        "group": "329b865365aa8a43",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Randomize Hot Spot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"event_type\":\"randomize_hotspot_event\"}",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "ce178390c4ef29c4"
            ]
        ]
    },
    {
        "id": "cce2b7865ca40f34",
        "type": "ui_text",
        "z": "03a81b1a548b2458",
        "group": "329b865365aa8a43",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hotspot",
        "format": "{{msg.payload[\"building\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 880,
        "wires": []
    },
    {
        "id": "d416e9e19279bda8",
        "type": "ui_button",
        "z": "03a81b1a548b2458",
        "name": "",
        "group": "329b865365aa8a43",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Match Pre-Heat",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"event_type\":\"start_preheat_event\"}",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "ce178390c4ef29c4"
            ]
        ]
    },
    {
        "id": "62130e8067c67491",
        "type": "ui_gauge",
        "z": "03a81b1a548b2458",
        "name": "",
        "group": "329b865365aa8a43",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Pre-Heat Countdown",
        "label": "units",
        "format": "{{msg.payload[\"time\"]}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00fa00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 940,
        "wires": []
    },
    {
        "id": "c0d955d38cabc16c",
        "type": "ui_text",
        "z": "03a81b1a548b2458",
        "group": "366e589a14f99cf0",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Game State",
        "format": "{{msg.payload[\"state\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 640,
        "wires": []
    },
    {
        "id": "bfdbbec7d0220415",
        "type": "ui_button",
        "z": "03a81b1a548b2458",
        "name": "",
        "group": "366e589a14f99cf0",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Reset Match",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"event_type\":\"reset_match_event\"}",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "ce178390c4ef29c4"
            ]
        ]
    },
    {
        "id": "d656eccbd03f1af0",
        "type": "ui_text",
        "z": "03a81b1a548b2458",
        "group": "366e589a14f99cf0",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Score",
        "format": "{{msg.payload[\"current_score\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 700,
        "wires": []
    },
    {
        "id": "62b60fba406e3ef4",
        "type": "ui_button",
        "z": "03a81b1a548b2458",
        "name": "",
        "group": "366e589a14f99cf0",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Start Match",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"event_type\":\"match_start_event\"}",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "ce178390c4ef29c4"
            ]
        ]
    },
    {
        "id": "8c20d029cd4569d7",
        "type": "mqtt in",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/state/match_state",
        "qos": "2",
        "datatype": "json",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 640,
        "wires": [
            [
                "c0d955d38cabc16c"
            ]
        ]
    },
    {
        "id": "b6d57efffec2a2cb",
        "type": "mqtt in",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/state/score",
        "qos": "2",
        "datatype": "json",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 700,
        "wires": [
            [
                "d656eccbd03f1af0"
            ]
        ]
    },
    {
        "id": "ce178390c4ef29c4",
        "type": "mqtt out",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/events/",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7a77a26bef88c80e",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "54a985943320d4d7",
        "type": "mqtt in",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/state/hotspot_building",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 880,
        "wires": [
            [
                "cce2b7865ca40f34"
            ]
        ]
    },
    {
        "id": "8842a8f7b3c53528",
        "type": "mqtt in",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/state/heater_countdown",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 940,
        "wires": [
            [
                "62130e8067c67491"
            ]
        ]
    },
    {
        "id": "be8b1e83ef25e8cc",
        "type": "ui_button",
        "z": "03a81b1a548b2458",
        "name": "",
        "group": "366e589a14f99cf0",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "End Match",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"event_type\":\"match_end_event\"}",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "ce178390c4ef29c4"
            ]
        ]
    },
    {
        "id": "72992788d1823c56",
        "type": "ui_table",
        "z": "03a81b1a548b2458",
        "group": "1c5402c5f698e604",
        "name": "",
        "order": 0,
        "width": "8",
        "height": "5",
        "columns": [
            {
                "field": "building",
                "title": " Building",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "state",
                "title": "State",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fire_level",
                "title": "Fire Level",
                "width": "",
                "align": "center",
                "formatter": "progress",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "score",
                "title": "Score",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 570,
        "y": 1020,
        "wires": []
    },
    {
        "id": "f9a48545fbd2c144",
        "type": "mqtt in",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/state/table_data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 1020,
        "wires": [
            [
                "72992788d1823c56"
            ]
        ]
    },
    {
        "id": "826cf2e26bd62be8",
        "type": "ui_text",
        "z": "03a81b1a548b2458",
        "group": "366e589a14f99cf0",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phase Remaining",
        "format": "{{msg.payload[\"time\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 760,
        "wires": []
    },
    {
        "id": "8a6a9bf9316c1a57",
        "type": "mqtt in",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/state/phase_remaining",
        "qos": "2",
        "datatype": "json",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 760,
        "wires": [
            [
                "826cf2e26bd62be8"
            ]
        ]
    },
    {
        "id": "d7c8134606ed5f57",
        "type": "ui_text",
        "z": "03a81b1a548b2458",
        "group": "366e589a14f99cf0",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Match Remaining",
        "format": "{{msg.payload[\"time\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 820,
        "wires": []
    },
    {
        "id": "8c5385b22e54b6ce",
        "type": "mqtt in",
        "z": "03a81b1a548b2458",
        "name": "",
        "topic": "ui/state/match_remaining",
        "qos": "2",
        "datatype": "json",
        "broker": "7a77a26bef88c80e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 820,
        "wires": [
            [
                "d7c8134606ed5f57"
            ]
        ]
    },
    {
        "id": "7b3c4815a9189b6f",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "AVR Drone Parked in Time",
        "tooltip": "",
        "group": "8b1b820aae8133ac",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 1640,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "4bb94d226752a132",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Tello Parked in Time",
        "tooltip": "",
        "group": "8b1b820aae8133ac",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 1600,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "901662141c3392d5",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "RVR Parked in Time",
        "tooltip": "",
        "group": "8b1b820aae8133ac",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 1520,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "e6b2d14b923fc468",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "RVR Completed Path",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "0f181af477fd7520",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "RVR Autonomous",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "f60b936187eae4ef",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Sphero Recon Completed",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "d751e1664722954c",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Sphero Recon Autonomous",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4",
        "step": 1,
        "className": "",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "330cd0e4af79eab0",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Tello Completed Path",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "c9f53e34408bc89b",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Tello Autonomous",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "d6141cb57be06834",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "AVR Drone Takeoff And Recon",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 840,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "bb34cd2bbc53784c",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "AVR Drone AprilTag Recognition",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 18,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 880,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "c5e7905f64148979",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "AVR Drone Landing",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 19,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 920,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "f44393a9d2bc5b91",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "AVR Drone Autonomous",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 20,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 960,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "4a3a399b84186ac9",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "First Responders Loaded",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "2",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "ebbedc47e8be04a0",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "AVR Lands on Residential Building",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 1060,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "15dd4d8be50d8ca6",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Spheros Unloaded on Residential Building",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 210,
        "y": 1100,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "116cc2b436b15c4e",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Stranded Launch From Fire Escape",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 180,
        "y": 1140,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "61c7e5d92d1f19d2",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Land in RVR",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 110,
        "y": 1180,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "9087fb414813a9e7",
        "type": "mqtt out",
        "z": "53990f839c1cf5ed",
        "name": "",
        "topic": "/ui/events",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7a77a26bef88c80e",
        "x": 960,
        "y": 520,
        "wires": []
    },
    {
        "id": "9fb234ecaaafb0ed",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "AVR Delivers First Responders To Ground",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 200,
        "y": 1220,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "0ee8d75a3c818401",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Stranded Delivered to Safe Zone by RVR",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 200,
        "y": 1260,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "ec40bd9e05e530ee",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Hands Free Unloading of RVR",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 1340,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "a6e5945fd6c24c9b",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Water Balls Dropped via AprilTag",
        "tooltip": "",
        "group": "591219e8a1be384d",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 1420,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "fd489c8a49102476",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "First Respnders Parked in Time",
        "tooltip": "",
        "group": "8b1b820aae8133ac",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 170,
        "y": 1560,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "049a63b78174c3b3",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Tello Identified Safe Zone",
        "tooltip": "",
        "group": "71f2708261e35ed8",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 1300,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "069dc24cf0e0b861",
        "type": "ui_slider",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Number of RVR Turns",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "3",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "a23585b1e33efba2",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "RVR in Fire Station",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "7790b9d34cb6195b",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Smoke Jumper Launched",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "598806b21476c8f3",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Smoke Jumper Parachute Deployed",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 580,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "0b15c0051faa29b0",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Smoke Jumper Landed On/ Touched House",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 620,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    },
    {
        "id": "609d3f5a1d5f38f2",
        "type": "ui_switch",
        "z": "53990f839c1cf5ed",
        "name": "",
        "label": "Smoke Jumper Landed Inside House",
        "tooltip": "",
        "group": "f944e199cc48d4f0",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 660,
        "wires": [
            [
                "9087fb414813a9e7"
            ]
        ]
    }
]